body.background {
    width:100%; height:100%; 
    background: #fff center center no-repeat;
    background-image: url(../images/candy_crush_bg.jpg);
    background-size: 100% cover auto;
    background-repeat: no-repeat;
    overflow: visible;
}
h1, #crystal-font {
    font-family: 'Luckiest Guy', cursive;
    font-size: 5em
}